<div class="whatsapp-container">
    <header class="header">
        <div class="logo">
            <img src="assets/images/geeks.jpg" alt="GeeksChat">
        </div>
    </header>
    <div class="center-container">
        <div class="auth-form hidden" id="register">
            <h2>Register</h2>
            <!-- Registration form -->
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                <input type="text" formControlName="username" placeholder="Username">
                <input type="email" formControlName="email" placeholder="Email">
                <input type="password" formControlName="password" placeholder="Password">
                <button type="submit" [disabled]="processing || registrationForm.invalid">Register</button>

            </form>

</div>
